/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	margin:0;
	padding:0;
}

body,html{
  height:100%;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

blockquote {
    background-color: #E5E5E5;
    margin: 50px 10px;
    padding: 0 20px;
	white-space: pre;
	overflow: auto;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

blockquote p{
word-wrap:break-word;
}
/* ==========================================================================
   PIE
   ========================================================================== */
.border-rad-5px {
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	behavior: url(../../PIE.htc);
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* MAIN TEMPLATE - NON GRID*/

/* main wrapper*/

body {background-color: #eee;}
div#wrapper {}
div#content {
	background-color: #FFFFFF;
    border: 1px dashed #333;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    margin: 50px auto;
    position: absolute;
    right: 0;
    width: 80%;
}
header#headerMain1{background-color: #fff; border-bottom: 1px dashed #ccc; width: 100%; float:left;}
div.innerHeaderMain1{padding:20px; position:relative;}
div#main {
	background-color: #FFFFFF;
    clear: both;
    float: left;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

aside#leftCol1{
	background-color: #FFFFFF;
    border-right: 1px dashed #CCCCCC;
    display: inline-block;
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 210px;
}
section#rightCol1{
	background-color: #FFFFFF;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    position: relative;
}
footer#footerMain1{background-color: #fff; border-top: 1px dashed #ccc; width: 100%; float:left;}
div.innerFooterMain1{padding:20px; position:relative;}

ul li
{
margin:2px;
}

/* main nav*/
nav#mainNav1{
    bottom: 0;
    display: block;
    float: left;
}
ul.mainNav1{list-style-type: none; padding: 0px; margin: 0px;}
ul.mainNav1 li{display: block; float: left;}
ul.mainNav1 li a{text-decoration: none;font-size:16px;padding: 10px 14px;}

/* side nav*/
nav#sideNav1{display: block;float: left;}
ul.sideNav1{list-style-type: none; padding: 0px; margin: 0px;}
ul.sideNav1 li{color: #CCCCCC; list-style: disc inside none;}
ul.sideNav1 li a{text-decoration: none;font-size:14px;padding: 10px 0px;}


/* footer nav*/
nav#footerNav1{display: block;float: left;}
ul.footNav1{list-style-type: none; padding: 0px; margin: 0px;}
ul.footNav1 li{display: block; float: left;}
ul.footNav1 li a{text-decoration: none;font-size:12px;padding: 10px 14px;}


h1, h2, h3, p{font:Arial, Helvetica, sans-serif;}
h1{font-size:24px; color: #000;}
h2{font-size:20px; color: #333;}
h3{font-size:16px; color: #333;}
p{font-size:12px; color: #666;}

a{color: #333;}
a:hover{color: #666;}
a:active{color: #333;}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
